{% extends 'base.html' %}

{% block content %}
<p class="lead">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Races</li>
      </ol>
    </nav>
    </p>

    <table class="table-sm table table-borderless ">
        
        {% for race in races %}
            {% if race.canPick() %}
                <tr>
            {% else %}
                <tr style="color: darkgray;">
            {% endif %}
            <td><a href="race2/{{ race.id }}">{{ race.name }}</a></td><td>{{ moment(race.start).format("M/D h:mma") }}</td>
            </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}