{% extends 'base.html' %}

{% block content %}
    <table class="table-sm">
        <tr><th>Race</th><th>Start</th></tr>
        {% for race in races %}
            {% if race.canPick() %}
                <tr>
            {% else %}
                <tr style="color: darkgray;">
            {% endif %}
            <td><a href="race/{{ race.id }}">{{ race.name }}</a></td><td>{{ moment(race.start).format("M/D h:mma") }}</td>
            </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}