{% extends 'base.html' %}

{% block content %}
<p class="lead">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/races">Races</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ race.name }}</li>
  </ol>
</nav>
</p>

<!-- <h3>Race: {{ race.name }}</h1> -->
{% if race.canPick() %}   
    <form class="form" method="post">

    <ul class="list-group">
      {% if race.qualifying != None %}  
        {% for driverId in race.qualifying %}
        {% set outer_loop = loop %}
          {% for driver in drivers %}
          
            {% if driverId ==  driver.number  %}
              {% if race.wasPickedByUser(driver.number) %}
                  
              <li class="list-group-item active" style="border-color:white;padding-top:0px;padding-bottom:0px;">
                  <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}" checked>
              {% elif driver.number not in counts or counts[driver.number] < 5 %}
                          
              <li class="list-group-item " style="border-color:white;padding-top:0px;padding-bottom:0px;">
                  <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}">
              {% else %}
              <li class="list-group-item disabled " style="border-color:white;padding-top:0px;padding-bottom:0px;">
                  <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}">
              {% endif %}
              
              
                <!-- <label class="form-check-label stretched-link d-flex justify-content-between align-items-center" for="driver-{{ driver.number }}">Q{{ outer_loop.index }} - {{ driver.name }} -->
                  <label class="form-check-label stretched-link d-flex justify-content-between align-items-center" for="driver-{{ driver.number }}">
                    <div class="hstack" style="padding:0px;"><span style="font-family: F1Bold;width:30px;">Q{{ outer_loop.index }}</span> 
                    {% include 'driver_snippet.html' %}</div>
                  <span class="badge badge-primary rounded-pill black-bg">{{ counts[driver.number]  }}</span>
      
                </label>
              </li>

            {% endif %}
          
          {% endfor %}

        
        {% endfor %}
      {% else %}
        {% for driver in drivers %}
          {% if race.wasPickedByUser(driver.number) %}
              
          <li class="list-group-item  active"  style="border-color:white;padding-top:0px;padding-bottom:0px;">
              <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}" checked>
          {% elif driver.number not in counts or counts[driver.number] < 5 %}
                      
          <li class="list-group-item " style="border-color:white;padding-top:0px;padding-bottom:0px;" >
              <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}">
          {% else %}
          <li class="list-group-item disabled "  style="border-color:white;padding-top:0px;padding-bottom:0px;">
              <input class="form-check-input me-1" type="checkbox" hidden="true" value="" name="{{ driver.number }}" id="driver-{{ driver.number }}">
          {% endif %}
          
          
          <label class="form-check-label stretched-link d-flex justify-content-between align-items-center" for="driver-{{ driver.number }}">
            {% include 'driver_snippet.html' %}
            <span class="badge badge-primary rounded-pill black-bg">{{ counts[driver.number]  }}</span>

          </label>
        </li>
        {% endfor %}
      {% endif %}

      </ul>
      <br>
      <div class="container">
        <div class="row justify-content-md-center">
      <button type="submit" class="btn btn-primary f1-bg">Save Picks</button>
      </div></div>
      </form>

     
      <script>
      {% if picks == None %}
        var count = 0
      {% else %}
        var count = {{ race.getUserPickCount() }}
      {% endif %}   
        

        $('.list-group label').click(function() {            
            var checkid="#" + $(this).attr("for")
            
            console.log(checkid)
            console.log($(checkid).prop("checked"))
            if ( $(checkid).prop("checked") == true ) {
                count = count - 1
                console.log("HERE - " + count)
                $(this).parent().toggleClass('active')
                // $(checkid).prop("checked", false)
            } else if (count < 3) {
                count = count + 1
                console.log(count)
                $(this).parent().toggleClass('active')
                // $(checkid).prop("checked", true)
            } else {
                // Make sure we uncheck the box...
                console.log("Unchecking")
                return false
            }
        })
      </script>
    {% elif race.results != None %}  

    <h6> Results:</h6>
    <div class="container">
      <div class=" col col-sm-6">
    <table class="table">
      <theader><tr>
          {% for score in scores %}
          <td style="text-align:center;padding: 0px;">
              <span style="margin-bottom: 5px; margin-top:5px;" class="badge rounded-pill badge-primary f1-bg d-lg-none">{{ users[score].name.upper()[0] }}</span>
              <span class=" f1-bg d-none d-lg-block">{{ users[score].name }}</span>
          </td>
          
          {% endfor %}
      </tr></theader><tbody class="table-group-divider">        <tr>

        {% for score in scores %}
          <td style="text-align:center;">
              {{ scores[score] }} 
          </td>
        {% endfor %}
      </tr>    

          </tbody>
         
      </table>
    </div><div class="col col-sm-6"></div></div>
      
      <br>
      <h6>Drivers:</h6>
      <table class="table table-sm table-borderless table-striped">
        {% for driverId in race.results %}
            {% set outer_loop = loop %}
            {% for driver in drivers %}
            
              {% if driverId ==  driver.number  %}
              <tr><td style="padding-top:0px;padding-bottom:0px;">
                <div class="hstack" style="padding:0px;"><span style="font-family: F1Bold;width:30px;">{{ outer_loop.index }}</span>
                  {% include 'driver_snippet.html' %}</div>
              </td>
                <td style="vertical-align:middle;">
                  {% for user in race.getAllPicksForDriver(driver.number) %}
                  <span class="badge rounded-pill badge-primary f1-bg">{{ users[user].name.upper()[0] }}</span>
                  {% endfor %}
                </td>
              </tr>  
              {% endif %}
            
            {% endfor %}

            
        {% endfor %}
      </table>
    {% else %}
    <h6>Drivers:</h6>
    <table class="table-sm">
        {% for driver in drivers %}
            <tr><td>
              
                {% include 'driver_snippet.html' %}
            </td>
                <td>
                    {% for user in race.getAllPicksForDriver(driver.number) %}
                    <span class="badge rounded-pill badge-primary f1-bg">{{ users[user].name.upper()[0] }}</span>
                    {% endfor %}
                </td>
            </tr>

            
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}