{% extends 'base.html' %}

{% block content %}
    <h1>Standings: </h1>
        <table class="table-sm">
            <thead class="table-light">
                <tr><th>User</th><th>Score</th></tr>
            </thead>
            <tbody>
        {% for user in standings %}
            <tr>
                <td>{{ users[user].name }}</td>
                <td>
                    {{ standings[user] }} 
                </td>
            </tr>            
        {% endfor %}
            </tbody>
        </table>
    
    
{% endblock %}